/* Global styles */

body {
  background-color: white;
  margin: 0;
}

/* a-tag href content */

a {
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: $main-color;

    border-bottom: 1px solid $main-color;
  }
}

/* form input */

/* text formatting */

/* headings  */

h1,
h2 {
  color: $main-color;
  font-weight: 700;
}
h1,
.has-h-1-font-size {
  font-size: toRem(50);
  @include media($until: 'sm') {
    font-size: toRem(35);
  }
  margin-bottom: toRem(40);
  line-height: 60px;
}
h2,
.has-h-2-font-size {
  font-size: toRem(40);
  @include media($until: 'sm') {
    font-size: toRem(30);
  }
  margin-top: toRem(40);
  margin-bottom: toRem(30);
  line-height: 55px;
}
h3,
.has-h-3-font-size {
  font-size: toRem(30);
  @include media($until: 'sm') {
    font-size: toRem(25);
  }
  color: $main-color-light;
  margin-bottom: toRem(30);
  line-height: 45px;
}
h4 {
  font-size: 1.75rem;
  color: $main-color;
}

/* Zitat */
blockquote {
  p {
    font-size: toRem(30);
    @include media($until: 'sm') {
      font-size: toRem(25);
    }
    color: $main-color-light;
    margin-bottom: toRem(40);
  }
}

/* paragraph */

p,
.has-p-font-size {
  font-size: toRem(22);
  color: $main-color;
  margin-bottom: toRem(20);
  line-height: 32px;
}

.has-cd-1-hellgruen-color {
  color: #7b9a62;
}

.has-cd-3-dunkelgruen-color {
  color: #536657;
}

.has-p-1-hellgruen-color {
  color: #94b277;
}

.has-p-2-mittelgruen-color {
  color: #708456;
}

.has-p-3-dunkelgruen-color {
  color: #477b6a;
}
