<div class="container-fluid">
  <div class="row">
    <div class="address col-sm-8 col-md-9 col-xs-12">
      {{ footerwidgetcol1 }}
    </div>
    <div class="socialicons col-sm-4 col-md-3 col-xs-12">
      {{ footerwidgetcol2 }}
    </div>
  </div>
</div>
