<div class="container-fluid">
  <div class="row">
    <div class="address col-sm-8 col-md-9 col-xs-12">
      <strong>daniel schönenberger</strong> · organisationsberater &
      wanderleiter<br />
      <span>zopf 3 · </span><span>6383 wirzweli ·</span
      ><span class="tel-email">
        <a class="telephone" href="tel:0041 79 207 32 00">0041 79 207 32 00</a>
        ·
        <a class="emailaddress" href="mailto:daniel@danielschoenenberger.ch"
          >daniel@daniel&shy;schoenenberger.ch</a
        ></span
      >
    </div>
    <div class="socialicons col-sm-4 col-md-3 col-xs-12">
      <a
        href="https://twitter.com/wanderleiter"
        title="Daniel Schönenberger auf Twitter"
        target="_blank"
        class="twitter"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="46.5"
          height="46.5"
          viewBox="0 0 46.5 46.5"
        >
          <path
            id="Pfad_242"
            data-name="Pfad 242"
            d="M34.807-5.676c.012.256.017.513.017.771,0,7.879-6,16.965-16.965,16.965a16.88,16.88,0,0,1-9.14-2.678,12.152,12.152,0,0,0,1.422.083,11.965,11.965,0,0,0,7.406-2.552,5.969,5.969,0,0,1-5.57-4.141,5.948,5.948,0,0,0,1.121.108,5.98,5.98,0,0,0,1.572-.21A5.965,5.965,0,0,1,9.886-3.178c0-.026,0-.051,0-.076a5.917,5.917,0,0,0,2.7.746A5.958,5.958,0,0,1,9.934-7.471a5.941,5.941,0,0,1,.807-3,16.928,16.928,0,0,0,12.29,6.23,5.959,5.959,0,0,1-.155-1.36,5.964,5.964,0,0,1,5.964-5.962,5.956,5.956,0,0,1,4.352,1.884,11.952,11.952,0,0,0,3.786-1.447,5.984,5.984,0,0,1-2.622,3.3,11.907,11.907,0,0,0,3.424-.939,12.129,12.129,0,0,1-2.975,3.087M40.687-23H5.813A5.813,5.813,0,0,0,0-17.188V17.687A5.813,5.813,0,0,0,5.813,23.5H40.687A5.813,5.813,0,0,0,46.5,17.687V-17.188A5.813,5.813,0,0,0,40.687-23"
            transform="translate(0 23)"
            fill="#fff"
          ></path>
        </svg>
      </a>

      <a
        href="https://www.instagram.com/daniel.schoenenberger"
        title="Daniel Schönenberger auf Instagram"
        target="_blank"
        class="instagram"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48.5"
          height="46.5"
          viewBox="0 0 48.5 46.5"
        >
          <g
            id="Gruppe_46"
            data-name="Gruppe 46"
            transform="translate(-1565.5 -7181.979)"
          >
            <path
              id="Pfad_241"
              data-name="Pfad 241"
              d="M31,23.5H77.5V-23H31Z"
              transform="translate(1536.5 7204.979)"
              fill="none"
            ></path>
            <path
              id="Pfad_238"
              data-name="Pfad 238"
              d="M54.25-23c-6.314,0-7.106.027-9.586.14a17.064,17.064,0,0,0-5.644,1.081A11.4,11.4,0,0,0,34.9-19.1a11.4,11.4,0,0,0-2.682,4.118A17.066,17.066,0,0,0,31.14-9.336C31.027-6.856,31-6.064,31,.25s.027,7.106.14,9.586a17.065,17.065,0,0,0,1.081,5.644A11.4,11.4,0,0,0,34.9,19.6a11.4,11.4,0,0,0,4.118,2.682,17.068,17.068,0,0,0,5.644,1.081c2.48.113,3.272.14,9.586.14s7.106-.027,9.586-.14a17.068,17.068,0,0,0,5.644-1.081A11.4,11.4,0,0,0,73.6,19.6a11.4,11.4,0,0,0,2.682-4.118A17.063,17.063,0,0,0,77.36,9.836c.113-2.48.14-3.272.14-9.586s-.027-7.106-.14-9.586a17.064,17.064,0,0,0-1.081-5.644A11.4,11.4,0,0,0,73.6-19.1a11.4,11.4,0,0,0-4.118-2.682,17.064,17.064,0,0,0-5.644-1.081c-2.48-.113-3.272-.14-9.586-.14m0,4.189c6.208,0,6.943.024,9.395.135a12.865,12.865,0,0,1,4.317.8,7.2,7.2,0,0,1,2.673,1.739,7.206,7.206,0,0,1,1.739,2.673,12.868,12.868,0,0,1,.8,4.317c.112,2.452.135,3.187.135,9.395s-.024,6.943-.135,9.395a12.868,12.868,0,0,1-.8,4.317,7.206,7.206,0,0,1-1.739,2.673,7.2,7.2,0,0,1-2.673,1.739,12.865,12.865,0,0,1-4.317.8c-2.451.112-3.186.136-9.395.136s-6.944-.024-9.395-.136a12.866,12.866,0,0,1-4.317-.8,7.2,7.2,0,0,1-2.673-1.739,7.2,7.2,0,0,1-1.739-2.673,12.868,12.868,0,0,1-.8-4.317c-.112-2.452-.135-3.187-.135-9.4s.024-6.943.135-9.395a12.868,12.868,0,0,1,.8-4.317,7.2,7.2,0,0,1,1.739-2.673,7.2,7.2,0,0,1,2.673-1.739,12.865,12.865,0,0,1,4.317-.8c2.452-.112,3.187-.135,9.4-.135"
              transform="translate(1534.5 7204.979)"
              fill="#fff"
            ></path>
            <path
              id="Pfad_239"
              data-name="Pfad 239"
              d="M48.534,2.284a7.75,7.75,0,0,1-7.75-7.75,7.75,7.75,0,0,1,7.75-7.75,7.75,7.75,0,0,1,7.75,7.75,7.75,7.75,0,0,1-7.75,7.75m0-19.689A11.939,11.939,0,0,0,36.595-5.466,11.939,11.939,0,0,0,48.534,6.473,11.939,11.939,0,0,0,60.473-5.466,11.939,11.939,0,0,0,48.534-17.405"
              transform="translate(1540.217 7210.696)"
              fill="#fff"
            ></path>
            <path
              id="Pfad_240"
              data-name="Pfad 240"
              d="M52.839-16.229a2.79,2.79,0,0,1-2.79,2.79,2.79,2.79,0,0,1-2.79-2.79,2.79,2.79,0,0,1,2.79-2.79,2.79,2.79,0,0,1,2.79,2.79"
              transform="translate(1551.112 7209.048)"
              fill="#fff"
            ></path>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
